@using Survey.WebApp.Helpers.Html
@using Survey.WebApp.Models
@{
    ViewBag.Title = "Câu hỏi thường gặp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function() {
            window.scrollTo(0,800);
        })
    </script>
}

<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                @{
                    int total = (int) ViewBag.Total;
                    if(total == 0) {
                        <div class="col-md-8 ml-auto mr-auto">
                            <h3>
                                <span>Chưa có câu hỏi thường gặp.</span>
                                <span>Vui lòng quay lại sau.</span>
                            </h3>
                        </div>
                    } else {
                        List<FaqModel> list = ViewBag.List as List<FaqModel>;
                        if(list != null) {
                            foreach (FaqModel faq in list) {
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h3 class="title">@Html.Raw(faq.Title)</h3>
                                    <p>@Html.Raw(faq.Content)</p>
                                </div>
                            }
                        }
                    }
                }
            </div>
            <br/>

            @{
                int totalPage = (int) ViewBag.TotalPage;
                int page = (int) ViewBag.Page;
                if(totalPage > 1) {
                    <div class="col-md-8 ml-auto mr-auto">
                        @Html.Paging(page,
                                     totalPage,
                                     "Index",
                                     "Faq")
                    </div>
                }
            }

        </div>
    </div>
</div>